---
---

//Header
$header-heading-color: #fff !default; //titoli header
$header-bg-color: #1B998B; //sfondo header dx
$header-bg-color-secondary: #1B998B; //sfondo header sx

//Text
$section-headings-color: #1B998B; //titoli testo

@import "{{ site.theme }}";
